<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>293754685740-cjo452q555vfq2b4mnpspil9e50ebjau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293754685740-cjo452q555vfq2b4mnpspil9e50ebjau</string>
	<key>API_KEY</key>
	<string>AIzaSyAUs7r2sYmwswjjn084U4bXgG-B_wtJ94A</string>
	<key>GCM_SENDER_ID</key>
	<string>293754685740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasongoodney.BuckIt</string>
	<key>PROJECT_ID</key>
	<string>buckit-95949</string>
	<key>STORAGE_BUCKET</key>
	<string>buckit-95949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293754685740:ios:ad452a05f6b24702</string>
	<key>DATABASE_URL</key>
	<string>https://buckit-95949.firebaseio.com</string>
</dict>
</plist>